<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>FiveM BikeWatch</title>
		<style>
			/* Add your CSS styles here */
			body {
				font-family: 'Open Sans', Arial, sans-serif;
				margin: 0;
				padding: 0;
			}

			.top-bar {
				background-color: #333;
				color: #fff;
				padding: 10px;
			}

			.top-bar a {
				color: #fff;
				text-decoration: none;
				margin-right: 10px;
			}

			.search-bar {
				text-align: center;
				margin-top: 50px;
			}

			.search-bar input[type='text'] {
				width: 300px;
				padding: 10px;
				font-size: 16px;
			}

			.search-bar input[type='submit'] {
				padding: 10px 20px;
				background-color: #333;
				color: #fff;
				border: none;
				font-size: 16px;
				cursor: pointer;
			}
		</style>
	</head>
	<body>
		<div class="top-bar" style="display: flex">
			<a href="#">Register</a>
			<a href="#">Login</a>
			<a href="/logout" style="margin-left: auto">Logout</a>
		</div>

		<div class="search-bar">
			<form>
				<input type="text" placeholder="Search..." />
				<input type="submit" value="Search" />
			</form>
		</div>
	</body>
</html>
